{%      assign root_prefix = ''
%}{%    assign root_subfolders = page.url | split: '/' | size | minus: 2
%}{%    for x in (1..root_subfolders)
%}{%        assign root_prefix = root_prefix | append: '../'
%}{%    endfor
%}<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title | escape }}</title>
        <link rel="stylesheet" href="{{ root_prefix }}css/main.css">
    </head>
    <body>

        {{ content }}

    </body>
</html>
